/* style */
body {
    background-color: #ecd8ac;
}

h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em;
    color: #000000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    width: 500px;
    height: 500px;
}